.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Lato";
  font-weight: 400;
  color: #555;
  padding: 3rem;
}

.heading-primary {
  text-align: center;
}

.heading-primary--main {
  display: block;
  padding-bottom: 1rem;
  font-size: 8rem;
  letter-spacing: 3px;
  font-weight: 300;
}

.heading-primary--sub {
  display: block;
  font-size: 5rem;
  letter-spacing: 1.2rem;
}

.heading-secondary {
  text-align: center;
  font-size: 8rem;
  color: #fff;
  text-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}

.heading-secondary--dark {
  text-align: center;
  font-size: 8rem;
  text-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}

.row {
  position: relative;
}

.row:after {
  content: "";
  clear: both;
  display: table;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.col-1-of-2 {
  float: left;
  width: calc((100% - 6rem) / 2);
}

.col-1-of-2:not(:last-child) {
  margin-right: 6rem;
}

.col-1-of-3 {
  float: left;
  width: calc((100% - 2 * 6rem) / 3);
}

.col-1-of-3:not(:last-child) {
  margin-right: 6rem;
}

.col-2-of-3 {
  float: left;
  width: calc(((100% - 2 * 6rem) / 3) * 2 + 6rem);
}

.col-2-of-3:not(:last-child) {
  margin-right: 6rem;
}

.col-1-of-4 {
  float: left;
  width: calc((100% - 3 * 6rem) / 4);
}

.col-1-of-4:not(:last-child) {
  margin-right: 6rem;
}

.col-2-of-4 {
  float: left;
  width: calc(2 * (100% - 3 * 6rem) / 4 + 6rem);
}

.col-2-of-4:not(:last-child) {
  margin-right: 6rem;
}

.col-3-of-4 {
  float: left;
  width: calc(3 * (100% - 3 * 6rem) / 4 + 2 * 6rem);
}

.col-3-of-4:not(:last-child) {
  margin-right: 6rem;
}

.card {
  background-color: #fff;
  width: 35rem;
  margin: 0 auto;
}

.card__img {
  display: block;
  width: 100%;
}

.card__img::after {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
}

.composition {
  position: relative;
  margin: 12% 0 6% 0;
}

.composition__image {
  display: block;
  margin: 1rem auto;
  width: 60%;
  z-index: 1;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.6);
}

@media only screen and (min-width: 992px) {
  .composition {
    position: relative;
    height: 30vw;
  }
  .composition__image {
    position: absolute;
    width: 40%;
    z-index: 1;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.6);
    transition: all .3s;
  }
  .composition__image--1 {
    top: 0;
    left: 45%;
  }
  .composition__image--2 {
    top: 33%;
    left: 35%;
  }
  .composition__image--3 {
    top: -16%;
    left: 15%;
  }
  .composition__image:hover {
    transform: translateY(-1rem) scale(1.1);
    z-index: 2;
    box-shadow: 1.5rem 1.5rem 2.5rem rgba(0, 0, 0, 0.6);
  }
}

.bio {
  text-align: center;
  position: relative;
  top: 30%;
}

.bio--info {
  font-size: 4.5rem;
  line-height: 5rem;
  width: 90%;
  margin: 0 auto;
}

@media only screen and (min-width: 992px) {
  .bio {
    padding: 10rem 0;
  }
  .bio--info {
    font-size: 2.5rem;
    line-height: 4rem;
  }
}

.header {
  position: relative;
  text-transform: uppercase;
  height: 60vh;
  background-image: linear-gradient(to bottom right, rgba(209, 250, 255, 0.7), rgba(33, 144, 207, 0.7)), url("../img/code.jpg");
  clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
}

.header__text-box {
  color: #fff;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (orientation: landscape) {
  .header {
    height: 90vh;
  }
}

.footer {
  padding: 8rem;
  background-color: #333;
  color: #eee;
  text-align: center;
  font-size: 1.8rem;
}

.footer__contact {
  margin-bottom: 4rem;
}

.navigation__checkbox {
  display: none;
}

.navigation__background {
  position: fixed;
  top: 9rem;
  right: 9rem;
  background-image: linear-gradient(to bottom right, #d1faff, #2190cf);
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  z-index: 100;
  transition: all .3s ease-in;
}

.navigation__nav {
  position: fixed;
  opacity: 0;
  z-index: 101;
  text-align: center;
  top: 5%;
  left: 95%;
  transform: translate(-50%, -50%) scale(0);
  transition: all .2s ease .15s;
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.navigation__list {
  list-style-type: none;
}

.navigation__list li:not(:last-child) {
  margin-bottom: 2rem;
}

.navigation__link, .navigation__link:visited {
  text-decoration: none;
  padding: 2rem 1.5rem;
  color: #555;
  font-size: 8rem;
  text-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
  transition: all .2s;
}

.navigation__link:hover, .navigation__link:visited:hover {
  background-color: #fff;
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.3);
}

.navigation__button {
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  display: inline-block;
  background-color: #fff;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  z-index: 1000;
  text-align: center;
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.3);
}

.navigation__button:hover {
  cursor: pointer;
}

.navigation__checkbox:checked ~ .navigation__background {
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  border-radius: 0;
}

.navigation__icon {
  position: relative;
  margin-top: 5.8rem;
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  display: inline-block;
  width: 5rem;
  height: 4px;
  background-color: #333;
}

.navigation__icon::before, .navigation__icon::after {
  position: absolute;
  content: "";
  left: 0;
}

.navigation__icon::before {
  top: -1.3rem;
}

.navigation__icon::after {
  top: 1.3rem;
}

.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

.section-about {
  padding: 14rem 5rem;
}

.section-highlights {
  padding: 10rem 0 10rem 0;
  background-image: linear-gradient(to bottom right, rgba(209, 250, 255, 0.7), rgba(33, 144, 207, 0.7)), url("../img/web-design.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(50% 0%, 100% 10%, 100% 100%, 0 100%, 0% 10%);
}
/*# sourceMappingURL=main.css.map */