.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato";
  font-weight: 400;
  color: #555;
  padding: 3rem;
}

.row {
  position: relative;
}

.row:after {
  content: "";
  clear: both;
  display: table;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.col-1-of-2 {
  float: left;
  width: calc((100% - 6rem) / 2);
}

.col-1-of-2:not(:last-child) {
  margin-right: 6rem;
}

.col-1-of-3 {
  float: left;
  width: calc((100% - 2 * 6rem) / 3);
}

.col-1-of-3:not(:last-child) {
  margin-right: 6rem;
}

.col-2-of-3 {
  float: left;
  width: calc(((100% - 2 * 6rem) / 3) * 2 + 6rem);
}

.col-2-of-3:not(:last-child) {
  margin-right: 6rem;
}

.col-1-of-4 {
  float: left;
  width: calc((100% - 3 * 6rem) / 4);
}

.col-1-of-4:not(:last-child) {
  margin-right: 6rem;
}

.col-2-of-4 {
  float: left;
  width: calc(2 * (100% - 3 * 6rem) / 4 + 6rem);
}

.col-2-of-4:not(:last-child) {
  margin-right: 6rem;
}

.col-3-of-4 {
  float: left;
  width: calc(3 * (100% - 3 * 6rem) / 4 + 2 * 6rem);
}

.col-3-of-4:not(:last-child) {
  margin-right: 6rem;
}

.card {
  background-color: #fff;
  width: 35rem;
  margin: 0 auto;
}

.card__img {
  display: block;
  width: 100%;
}

.card__img::after {
  content: "Bonjour";
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.9)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
}

.bio {
  text-align: center;
  position: relative;
  top: 30%;
}

.bio--heading {
  font-size: 4rem;
}

.bio--info {
  font-size: 1.8rem;
  line-height: 2.5rem;
  letter-spacing: 1px;
  width: 90%;
  margin: 0 auto;
}

.header {
  text-transform: uppercase;
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(209, 250, 255, 0.7)), to(rgba(33, 144, 207, 0.7))), url("../img/code.jpg");
  background-image: linear-gradient(to bottom right, rgba(209, 250, 255, 0.7), rgba(33, 144, 207, 0.7)), url("../img/code.jpg");
  -webkit-clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
          clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);
}

.header__text-box {
  color: #fff;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.heading-primary {
  text-align: center;
}

.heading-primary--main {
  display: block;
  padding-bottom: 1rem;
  font-size: 6rem;
  letter-spacing: 3px;
  font-weight: 300;
}

.heading-primary--sub {
  display: block;
  font-size: 3rem;
  letter-spacing: 1.2rem;
}

.footer {
  padding: 8rem;
  background-color: #333;
  color: #bbb;
  text-align: center;
  font-size: 1.8rem;
}

.footer__nav {
  list-style-type: none;
}

.footer__item {
  display: inline-block;
}

.footer__item:not(:last-child) {
  margin-right: 2rem;
}

.footer__link {
  text-decoration: none;
  color: #bbb;
  text-transform: uppercase;
}

.section-about {
  padding: 25rem;
}

.section-highlights {
  padding: 20rem 0 20rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(209, 250, 255, 0.7)), to(rgba(33, 144, 207, 0.7))), url("../img/web-design.jpg");
  background-image: linear-gradient(to bottom right, rgba(209, 250, 255, 0.7), rgba(33, 144, 207, 0.7)), url("../img/web-design.jpg");
  background-size: cover;
  background-position: center;
}
