$primary-color-dark: #2190cf;
$primary-color-light: #d1faff;

$color-white: #fff;
$color-black: #000;
$color-grey-dark: #333;

$text-color-default: #555;
$text-color-light: #eee;
$text-color-medium: #bbb;


// Grid variables
$vertical-margin: 6rem;
$horizontal-margin: 8rem;