.bio {
    text-align: center;
    
    position: relative;
    top: 30%;

    &--info {
        font-size: 4.5rem;
        line-height: 5rem;
        
        width:90%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 992px) {
    .bio {
        padding: 10rem 0;

        &--info {
            font-size: 3rem;
            line-height: 4rem;
        }
    }
}