.bio {
    text-align: center;
    
    position: relative;
    top: 30%;

    &--info {
        font-size: 4.5rem;
        line-height: 5rem;
        
        width:90%;
        margin: 0 auto;
    }
}