.bio {
    text-align: center;
    
    position: relative;
    top: 30%;

    &--heading {
        font-size: 4rem;
    }

    &--info {
        font-size: 1.8rem;
        line-height: 2.5rem;
        letter-spacing: 1px;
        
        width:90%;
        margin: 0 auto;
    }
}