.footer {
    padding: 8rem;
    background-color: $color-grey-dark;
    color: $text-color-light;
    text-align: center;
    font-size: 1.8rem;

    &__contact {
        margin-bottom: 4rem;
    }
}