.header {
    text-transform: uppercase;

    height: 50vh;
    background-image: linear-gradient(
                        to bottom right,
                        rgba($primary-color-light, .7),
                        rgba($primary-color-dark, .7)),
                        url("../img/code.jpg");

    clip-path: polygon(100% 0, 100% 90%, 50% 100%, 0 90%, 0 0);

    &__text-box {
        color: $color-white;
        
        position: absolute;
        top: 25%;
        left: 50%;

        transform: translate(-50%, -50%);
    }
}

@media only screen and (min-width: 600px) {
    .header {
        height: 60vh;

        &__text-box {
            top: 30%;
        }
    }
}

@media only screen and (min-width: 768px) {
    .header {
        height: 80vh;

        &__text-box {
            top: 40%;
        }
    }
}

@media only screen and (min-width: 992px) {
    .header {
        height: 95vh;

        &__text-box {
            top: 40%;
        }
    }
}