body {
    font-family: "Lato";
    font-weight: 400;
    color: $text-color-default;

    padding: 3rem;
}

.heading-primary {
    text-align: center;   

    &--main {
        display: block;
        padding-bottom: 1rem;

        font-size: 8rem;
        letter-spacing: 3px;
        font-weight: 300;
    }

    &--sub {
        display: block;

        font-size: 5rem;
        letter-spacing: 1.2rem;
    }
}

.heading-secondary {
    text-align: center;
    font-size: 8rem;
    color: $color-white;
    text-shadow: .3rem .3rem .5rem rgba($color-black, .3);
}

.heading-secondary--dark {
    text-align: center;
    font-size: 8rem;
    text-shadow: .3rem .3rem .5rem rgba($color-black, .3);
}