.section-about {
    padding: 25rem;
}

.section-highlights {
    padding: 15rem 0 55rem 0;

    background-image: linear-gradient(
                        to bottom right,
                        rgba($primary-color-light, .7),
                        rgba($primary-color-dark, .7)),
                        url("../img/web-design.jpg");
    background-size: cover;
    background-position: center;
}