.section-about {
    padding: 14rem;
}

.section-highlights {
    padding: 10rem 0 10rem 0;

    background-image: linear-gradient(
                        to bottom right,
                        rgba($primary-color-light, .7),
                        rgba($primary-color-dark, .7)),
                        url("../img/web-design.jpg");
    background-size: cover;
    background-position: center;

    clip-path: polygon(50% 0%, 100% 10%, 100% 100%, 0 100%, 0% 10%);
}